.navbar-default {
    background-color: #60166b !important;
}
.navbar-inverse {
    background-color: #60166b;
    border-color: #61A1D4;
}

.navbar-nav>li>a {
    color: #efefef !important;
}
nav>.active>a {
    background-color: #1d1b1b;
}
.navbar-default .navbar-brand {
    color: wheat;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #615656;
}


.badge {
    
    background-color: #d40e4e;
}


